<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Bullshit Generator
    link(rel="stylesheet", href="/stylesheets/index.css")
  body
    header 
      nav 
        p 幹話產生器
    block body