<header>
  <nav>
    <p>幹話產生器</p>
  </nav>
</header>

<main>
  <h2>想對誰說幹話？</h2>
  <form method="POST" action="/">
    <div class="box-1">
      <div class="photo">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5668/angry-developer.jpg" alt="">
      </div>
      <div class="choice">
        <input type="radio" name="job" id="engineer" value="工程師"> <label for="engineer">工程師</label>
      </div>
    </div>
    <div class="box-2">
      <div class="photo">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5667/angry-designer.jpg" alt="">
      </div>
      <div class="choice">
        <input type="radio" name="job" id="designer" value="設計師"> <label for="designer">設計師</label>
      </div>
    </div>
    <div class="box-3">
      <div class="photo">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5669/angry-founder.jpg" alt="">
      </div>
      <div class="choice">
        <input type="radio" name="job" id="entrepreneur" value="創業家"> <label for="entrepreneur">創業家</label>
      </div>
    </div>
    <div class="result">
      <button type="submit" class="btn btn-info">產生幹話</button>
      <div class="sentence">
        {{#if sentence}}<span>{{sentence}}</span>{{/if}}
      </div>
    </div>
  </form>

</main>